.container {
    background-color: #f0f8ff;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    max-width: 300px;
    padding: 20px;
}

input, button {
    box-sizing: border-box;
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
}